.topbar{
    width: 100%;
    height: 5em;
    background-color: white;
}

.topbarWrapper{
    height: 100%;
    padding: 0em 2em;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 3em;
    color: darkblue;
    cursor: pointer;
}