.menuRight{
    flex:1;
}

.productAddButton{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.5rem;
    width: 6rem;
    height: 3rem;
}

.inputDiv{
    text-align: center;
    /* width: 25rem; */
    /* margin:0 auto; */
}

.mb-3{
    height: 10rem;
    font-size: 1.5rem;
}

.productInputForm, .inputGroup{
    font-size: 2rem;
}